<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/Site.css">
    <title>Главная</title>
</head>
<body>
   <header id="header">
        <div id="service-name" class="div-btn">Recipes</div>
        <div id="form-container">
            <form method="post" id="search-form">
                <div id="search-container">
                    <input type="text" id="search-field" class="form-control" name="search" placeholder="Искать рецепты">
                    <input type="submit" class="btn btn-outline-primary" value="🔍">
                </div>
            </form>
        </div>
        <a id="profile-link"><div id="username" class="div-btn">Username</div></a>
   </header>
   <div class="flex-panel">
        <a id="add-recipe-link"><div class="action-panel-btn btn btn-outline-primary">Добавление рецепта</div></a>
        <a id="liked-link"><div class="action-panel-btn btn btn-outline-primary">Понравившееся</div></a>
        <a id="best-link"><div class="action-panel-btn btn btn-outline-primary">Лучшее</div></a>
   </div>

   <div th:if="${isAdmin}" class="flex-panel">
       <a id="moderate-link"><div class="btn btn-outline-primary admin-panel-btn">Модерация рецептов</div></a>
       <a id="users-link"><div class="btn btn-outline-primary admin-panel-btn">Список пользователей</div></a>
   </div>

<div id="content-container"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:inline="javascript">
    function getUsername(){
        return [[${username}]];    
    }
    function isAdmin(){
        return [[${isAdmin}]];
    }
    function getToken(){
        return [[${token}]]
    }
</script>
<script src="/js/scripts.js"></script>
</body>
</html>