<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/Site.css">
    <title>Main</title>
</head>
<body>
   <header id="header">
        <div id="service-name" class="div-btn">Recipes</div>
        <div id="form-container">
            <form method="post" id="search-form">
                <div id="search-container">
                    <input type="text" id="search-field" class="form-control" name="search" placeholder="Искать рецепты">
                    <input type="submit" class="btn btn-primary" value="🔍">
                </div>
            </form>
        </div>
        <a href=""><div id="username" class="div-btn">Username</div></a>
   </header>

<div id="content-container">
    <!-- <div class="recipe-card">
        <a href="">
            <img class="recipe-photo img-rounded" src="../images/1.jpg">
            <div class="recipe-name">Название</div>
            <br>
            <div class="recipe-short-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis error
                veritatis, officia laborum accusantium, minus voluptate aperiam beatae, earum deserunt voluptas ab enim
                laudantium soluta? Vero consectetur dolores nisi ex! Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Expedita sed aperiam animi corporis. Atque ducimus possimus animi labore nulla nobis assumenda
                laudantium laboriosam, dolorum quod impedit inventore, velit vero eius?
            </div>
        </a>
        <br>
        <div class="recipe-likes-container">
            <div class="recipe-likes-counter" id="counter_0">100</div>
            <a href="">
                <div class="recipe-star-switcher"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star" viewBox="0 0 13 19">
                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                  </svg></div>
            </a>
        </div>
    </div> -->
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:inline="javascript">
    function getUsername(){
        return [[${username}]];    
    }
</script>
<script src="/js/scripts.js"></script>
</body>
</html>