<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Site.css">
    <title>Register</title>
    <style>
        select{
            display: block;
        }
        .container > form > *{
            display: block;
            margin: 10px auto;
            text-align: center;
        }
        .container{
            width: 500px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div class="container">
    <form method="post" id="form">
        <label for="username">Имя пользователя</label>
        <input type="text" name="username" id="username" class="form-control">

        <label for="email">Почта</label>
        <input type="text" name="email" id="email" class="form-control">

        <label for="phoneNumber">Номер телефона</label>
        <input type="tel" name="phoneNumber" id="phoneNumber" class="form-control">

        <label for="gender">Пол</label>
        <select name="gender" id="gender">
            <option autofocus name="gender" value="Male">Мужской</option>
            <option name="gender" value="Female">Женский</option>
            <option name="gender" value="Other">Другой</option>
        </select>

        <label for="age">Возраст</label>
        <input type="number" min="18" max="100" name="age" id="age" class="form-control">

        <label for="password">Пароль</label>
        <input type="password" name="password" id="password" class="form-control">

        <label for="password_reply">Повторите пароль</label>
        <input type="password" name="password_reply" id="password_reply" class="form-control"><br>

        <button id="submit" class="btn btn-primary">Зарегестрироваться</button>

        <div id="error-container">
            <div th:if="${isValid}" class="alert"></div>
            <div th:unless="${isValid}" th:each="el : ${errors}" th:text="${el}" class="alert alert-danger" ></div>
        </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/validation.js"></script>
</body>
</html>